/* *** CSS for flex *** */
.flex-wrapper {
  display: flex;
  height: auto;
  border: 1px solid black;
  margin: 0.5rem;

  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-wrapper > div {
  width: 300px;
  height: 2rem;
  margin: 0.5rem;
  background-color: lightcoral;
}

@media screen and (min-width: 900px) {
  .flex-header {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
